.container {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

.interior {
  width: 100px;
  height: 100px;
  background-color: white;
}

.div1 {
  background-color: red;
  position: absolute;
  border: 5px solid white;
  margin: 5px;
  top: 10px;
  left: 10px;
}

.div2 {
  background-color: orange;
  position: absolute;
  border: 5px solid white;
  top: 65px;
  left: 65px;
}

.div3 {
  background-color: yellow;
  position: absolute;
  border: 5px solid white;
  top: 120px;
  left: 120px;
}

.div4 {
  background-color: blue;
  position: absolute;
  border: 5px solid white;
  top: 175px;
  left: 175px;
}

.div5 {
  background-color: pink;
  position: absolute;
  border: 5px solid white;
  top: 230px;
  left: 230px;
}
