* {
  box-sizing: border-box;
}

.container {
  width: 275px;
  height: 275px;
  padding: 15px;
  margin: auto;
  border: 1px solid black;
}

.interior {
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
}

.div1 {
  float: left;
}

.div2 {
  float: left;
}

.div3 {
  float: left;
}

.div4 {
  float: left;
}

.div5 {
  background-color: red;
  top: 60px;
  left: 60px;
}
