* {
  box-sizing: border-box;
}

.container {
  width: 350px;
  height: 220px;
  padding: 10px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
}

.interior {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  position: relative;
}

.div1 {
  background-color: red;
  top: -5px;
  left: 70px;
}

.div2 {
  background-color: orange;
  top: -100px;
  left: 220px;
  transform: rotate(-20deg);
}

.div3 {
  background-color: yellow;
  top: -110px;
  left: 175px;
  transform: rotate(-35deg);
}

.div4 {
  background-color: blue;
  top: -250px;
  left: 90px;
  transform: rotate(35deg);
}

.div5 {
  background-color: pink;
  top: -365px;
  left: 10px;
  transform: rotate(20deg);
}
